
/*--------Home.html style----------*/
.home{
    background-color: gray;
}
.homepage{
    margin:0 auto;
    

}
.homepage-heading-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    text-align: center;
}
.button-container{
    position: relative;
    margin: 0 auto;
    top: 250px;
    left: 38%;
}
.homepage .btn{    
    background-color: wheat;
    width: auto;
    height: 50px;
    box-shadow: 20px black ;
    border-radius: 12px;
    margin-right: 30px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    
}










